streamlit
python-dotenv
langchain>=0.1.17
langchain-community>=0.0.25
langchain-openai>=0.0.6
langchain-huggingface>=0.0.3
faiss-cpu
sentence-transformers
unstructured
requests
tqdm
beautifulsoup4
langchain-ollama>=0.1.0
langchain-groq>=0.1.0
pypdf>=3.0.0
docx2txt>=0.8
rank_bm25>=0.2.2
